body{
    padding: 0;
    margin: 0;

}
.home{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0, .5)70%, rgba(0,0,0, .5)70%), url("background.jpg");
    background-position: center;
    background-size: cover;
    
    

}
.navbar{
    position: fixed;
    background-color: white;
    border-bottom: 1px solid rgb(207, 204, 204);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 999;
    
    

}
.logo{
    margin: 50px 70px;
    display: flex;
    color: crimson;
    font-size: 1.5rem;


}
.logo img{
    margin-top: 0px;
    height: 50px;
    width: 100px;
}

.menu ul{
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #333;
    
}
.menu ul li{
    padding-top: 10px;
    margin-right: 15px;
    height: 22px;
    cursor: pointer;
    

}
.menu ul li:hover{
    border-bottom: 1px solid #222;
    transition: all 0.3s ease;
}
.accounts{
    display: flex;
    margin-right: 30px;

}

.accounts div{
    margin-right: 15px;
    color: #333;
    border: 1px solid #999;
    height: 20px;
    width: 70px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
    perspective: 10px;
}

.accounts div:hover{
    border: 1px solid #222;
    transform: translateZ(-10px)
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    color: white;
}
.home .text1{
    font-size: 6rem;
}
.home .text2{
    font-size: 3rem;
    color: crimson;
    text-shadow: 0 0 2px black;
    margin-top: 10px;


}
.home .text3{
    margin-top: 30px;
    font-size: 1.1rem;
}

.services .title,
.contact .title{
    text-align: center;
    font-size: 33px;
    margin: 70px;
    position: relative;
    height: 50px;
}

.services .title::before,
.contact .title::before{
    position: absolute;
    content: '';
    background-color: black;
    height: 2px;
    width: 120px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}

.services .title::after,
.contact .title::after{
    position: absolute;
    color: crimson;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 5px;
    font-size: 15px;
}
.services .title::after{
    content: "what we do";
}

.content-wrapper{
    padding: 50px;
    display: flex;
    overflow-x: auto;
    

}

.component{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
    background-color: rgb(247, 245, 245);
    padding: 15px;
    margin-right: 50px;

}
.component .image img{
    height: 150px;
    width: 150px;
   

}
.services .component .text{
    padding: 20px;
    text-align: center;
}


.contact .title::after{
    content: "reach us";


}

.content-wrap{
    margin: 100px;
    display: flex;
    flex-direction: column;



}

.content-wrap .text{
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
}

.content-wrap .infos{
    display: flex;
}.content-wrap .infos div{
    
    margin-top: 10px;
}

.infos{
    margin-left: 20px;
}
.icon{
    margin-right: 20px;
}
.wrapper{
    
    display: flex;
    
}

.left{
    width: 45%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
 .right{
     width: 45%;
     border: 1px solid grey;
     border-radius: 10px;
     padding: 30px;
     
 }
 .right form{
    padding: 10px;
    position: relative;
}

 
 .right label{
     
     border: 1 solid black;
     
 }
.right input{
    position: absolute;
    width: 60%;
    text-align: center;
    padding: 5px;
    margin: 5px;
     border-radius: 5px;
     right: 10px;
}

.right .part{
    margin-top: 20px;
}







.footer{
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.footer .content-wrappers{
    


@media 1400 {
    
}